
/*background element*/
.floating-nav-bg{
	display: block;
	z-index: 3;
	border-radius: 2em;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%);
	position: fixed;
    background: black;

    /*transition properties*/
    opacity: 0;
	width: 0em;
	height: 0em;
    bottom: 3em;
    right: 3em;
    transition-property: width, height, bottom, right, opacity;
    transition-duration: 1s;
}
	.floating-nav-bg.is-visible{
		opacity: .7;
		width: 12em;
		height: 17em;
		bottom: 1em;
		right: 1em;
	}


/*trigger element*/
	.floating-nav-trigger a{
		text-align: center !important;
		border: 0;
	    display: block;
	    overflow: hidden;
	    white-space: nowrap;
	    z-index: 5;
	    opacity: .5;
	    line-height: 4em;
	    width: 4em;
	    height: 4em;
	    border-radius: 4em;
	    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%);
	    position: fixed;
	    bottom: 1em;
	    right: 1em;
	}

	.floating-nav-trigger-style{
		background: black;
		color: white;
	}


/*icons container*/
.floating-nav-icons-container{
	background: black;
	display: block;
	z-index: 4;
	border-radius: 4em;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%);
	position: fixed;

	/*transition properties*/
	opacity: 0;
	width: 0em;
	height: 0em;
    bottom: 3em;
    right: 3em;
    transition-property: width, height, bottom, right, opacity;
    transition-duration: 1s;
}
	.floating-nav-icons-container.is-visible{
		opacity: 1;
		width: 4em;
		height: 17em;
		bottom: 1em;
		right: 1em;
	}

	.floating-nav-icons-container ul {
	    width: 15em;
	    text-align: right;
	    right: 0;
	    position: absolute;
	  	list-style-type: none;
	  	margin-right: -7.5em;
	  	margin-top: -6em;
	  	transform:scale(0.0);
	  	transition: margin-right 1s, margin-top 1s, transform 1s;
	}

		.floating-nav-icons-container.is-visible ul{
		    margin-right: 0em;
		    margin-top: 0em;
		    transform:scale(1);
		}

		.floating-nav-icons-container ul > *{
			transform:scale(0.0);
			transition: transform 1s !important;
		}

			.floating-nav-icons-container.is-visible ul > *{
				transform:scale(1);
			}


	.floating-nav-icons-container i{
	    width: 4em;
	    height: 2em;
	    text-align: center;
	    vertical-align: middle;
	    line-height: 2em;
	}

		.floating-nav-icons-container li:first-child{
			margin-top: 1em;
		}

	.floating-nav-icons-container span{
		padding-right: 0.5em;
	}

	.floating-nav-icons-container a{
		text-decoration: none;
		color: white;
		display: block;
		width: 100%;
	}


		.floating-nav-icons-container li:hover a i{
			transform: scale(1.25);
			transition-property: transform;
			transition-duration: 0.25s;
		}

		.floating-nav-icons-container li:hover a span{
			/*transform: scale(1.25);*/
			/*transition-property: transform;*/
			/*transition-duration: 0.25s;*/
			font-weight: 900 !important;
		}

		.floating-nav-icons-container a.active{
			color: aquamarine;
		}


/*##########################################*/

/*background element*/
.floating-gh-bg{
	display: block;
	z-index: 3;
	border-radius: 2em;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%);
	position: fixed;
    background: black;

    /*transition properties*/
    opacity: 0;
	width: 0em;
	height: 0em;
    bottom: 3em;
    right: 3em;
    transition-property: width, height, bottom, right, opacity;
    transition-duration: 1s;
}
	.floating-gh-bg.is-visible{
		opacity: .4;
		width: 12em;
		height: 15em;
		bottom: 1em;
		right: 1em;
	}


.nav.disabled{
	/*color: gray;*/
	opacity: 0.5;
}

/*trigger element*/
/*	.floating-gh-trigger a{
		text-decoration: none;
		text-align: center !important;
		border: 0;
	    display: block;
	    overflow: hidden;
	    white-space: nowrap;
	    z-index: 5;
	    opacity: .5;
	    line-height: 4em;
	    width: 4em;
	    height: 4em;
	    border-radius: 4em;
	    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%);
	    position: fixed;
	    bottom: 6em;
	    right: 1em;
	}

	.floating-gh-trigger-style{
		background: black;
		color: white;
	}
*/

